/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Contenedor del formulario */
.form-container {
    width: 90%;
    max-width: 400px;
    margin: 20px auto;
    background: #0D6EFD;
    padding: 20px;
    border-radius: 12px;
    border: 5px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Logo */
.logo-img {
    width: 120px;
    height: 120px;
    display: block;
    margin: 0 auto 20px;
    border-radius: 50%;
    border: 5px solid black;
    object-fit: cover;
}

/* Contenedor de la contraseña */
.password-wrapper {
    position: relative;
    margin: 10px auto;
}

/* Botón para mostrar/ocultar contraseña */
.toggle-password {
    position: absolute;
    right: 70px; 
    width: 1px;
    height: 8px;/* Ajusta la posición exacta al lado */
    top: 50%;
    transform: translateY(-29%);
    background: #0D6EFD;
    border: none;
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.0s ease, color  #0D6EFD 0.1s ease;
    padding: 1px; /* Hace que el área clickeable sea más grande */
    border-radius: 40%; /* Hace el botón redondo */
    outline: none;
}

/* Campos de entrada */
.text2, .text3 {
    display: block;
    width: 70%;
    margin: 10px 0;
    height: 45px;
    padding: 10px;
    border: 1px solid #050505;
    border-radius: 8px;
    font-size: 16px;
}

/* Etiquetas */
label {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-top: 15px;
    text-align: left;
}

/* Contenedor de botones */
.botones {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

/* Estilos generales de los botones */
button {
    font-size: 18px;
    padding: 12px 24px;
    width: 100%;
    background-color: hsl(126, 97%, 50%);
    border: 2px solid black;
    color: black;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Efecto al pasar el mouse */
button:hover {
    background-color: #c5c5c5ca;
}
